---
import Gallery from "../components/Gallery.astro";
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Robi Gallery">
  <main>
    <Home />
    <Gallery />
  </main>
</Layout>

