

<div class="container">
  <img src={'/evil-boat.webp'} alt="Evil in a boat painting" class="image" />
</div>

<style>
  .container {
    position: relative;
    width: 100%;
    height: 100dvh;
  }

  .image {
    height: 100%;
    width: 100%;
  }
</style>
