---

---

<nav class="navbar">
  <div class="container">
    <a href="#" class="logo">Robi</a>
    <ul class="nav-links">
      <li><a href="#top">Home</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#about">About me</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div></div>
  </div>
</nav>

<style>
  .navbar {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    z-index: 1000;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 0.3rem;
  }

  .nav-links li {
    padding: 0.5rem 1.5rem;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .nav-links li:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
</style>
